body {
    padding-top:50px;
    padding-bottom:50px;
}

.header {
    float:left;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    width: auto;
    height: 500px;
    max-height: 500px;
}

.carousel {
    width:750px;
    max-width:750px;
}