body {
	background-color:#1f1f1f;
}

img {
	height:auto;
	width:50%;
	margin-left:25%;
}

.links {
	text-align:center;
}

a {
	font-size:30px;
	margin:10px;
}

a:link {
    color: #CCCCCC;
}

a:visited {
    color: #CCCCCC;
}

a:hover {
    color: #CCCCCC;
}

a:active {
    color: #CCCCCC;
}